#main{
  height: max-content;
  width: 100%;
  padding: 4% 6%;
  display: flex;
  flex-direction: column;
}
#main .top{
  width: 30%;
}
/* ------------------- */
#main .form{
  width: 100%;
  background-color: rebeccapurple;
}
/* ---------------------- */
#main .informations{
  width: 100%;
  background-color: blue;
}